---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';

import {CARD_INFO} from '@/lib/data'


---

<Layout title="Ivanrice Portfolio" >
  <main class="flex w-full h-full box-content overflow-auto scrollbar-hide">
    <article class=" w-full">
        <ul class=" flex flex-wrap gap-8 justify-center lg:mx-[5rem] xl:mx-[12.8rem] 2xl:mx-[15rem]  p-4 mt-8">
          {
            CARD_INFO.map(info => {
              return <Card
                id={info.id}
                title={info.title}
                longTitle={info.longTitle}
                software={info.software}
                caption={info.caption}
                href={`/ivanrice/portfolio/${info.id}?type=${info.type}`}
                bg={info.urls[0]}
                type={info.type}
              />
            })
          }
      </ul>
    </article>
  </main>
</Layout>

<style>
  .scrollbar-hide{
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
</style>