---
import Icons from './Icons.astro'
const { items, itemId } = Astro.props
const seeMore = { text: 'seemore', src: `/ivanrice/${itemId}` }
const extraItems = [seeMore, ...items]
const imgSMedia: { [key: string]: string } = {
  github: `Código`,
  artstation: `Artstation`,
  instagram: `Instagram`,
  seemore: 'Ver Más',
  demo: 'Demo',
}
const isNotSocial = (social: string) =>
  social !== 'instagram' && social !== 'artstation' && social !== 'github'
---

{
  extraItems.map((item: { text: string; src: string }) => {
    const isSeemore = item.text === 'seemore'
    return (
      <a
        href={item.src}
        target={`${isSeemore ? '' : '_blank'}`}
        rel="noopener noreferrer"
        class="border-green-lime-400/45 bg-american-blue-650/70 text-ottoman-50 font-biryani hover:bg-green-lime-500/85 hover:border-green-lime-500/50 hover:text-american-blue-900/90 flex items-center rounded border-2 text-xs font-bold tracking-wider backdrop-blur-3xl transition-all duration-200 hover:scale-105 hover:rounded-md"
        aria-label={item.text}
      >
        <span class="flex w-full flex-nowrap items-center gap-1 p-1 uppercase">
          <Icons name={item.text} size="1.3rem" stroke={2} />
          {isNotSocial(item.text) && (
            <p class="translate-y-0.5 leading-normal">{imgSMedia[item.text]}</p>
          )}
        </span>
      </a>
    )
  })
}
